body{
    margin: 42px;
    background: lightblue;
    text-align: left;
    color: rgb(87, 86, 86);

}

h1 {
    font-size: 24px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 32px;
}

.custom-text{
    color: black;
}
#special-text {
    color: red; /* Set the font color for the element with ID "special-text" */
}