body{
    margin: 42px;
    background: whitesmoke;
    text-align: left;
}

h1 {
    font-size: 24px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 30px;
}

body{
    color: rgb(87, 86, 86);
}

.blue-text{
    color: rgb(58, 58, 226);
}