body{
    margin: 400px;
    background: #f1f1f1;
    text-align: middle;
    font-family: Arial, sans-serif;
    font-size: large;
    
}

p{
    font-size: larger;
}

b{
    font-size: larger;
}

i{
    font-size: larger;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 46px;
}
h3 {
    font-size: 30px;
}

.colored-section {
    background-color: black; /* Change to the desired background color */
    padding: 20px; /* Add padding for spacing inside the section */
    margin: 0px;
    text-align: middle;
}
.indented {
    padding-left: 20px; /* Adjust the value as needed */
}

